<Configuration>
    <Appenders>
        <!-- Logs en consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Logs en archivo app.log -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
